<!DOCTYPE html>
<html lang="en">
<head>
    <title>Password generator</title>
    <% include ../../partial/headTemplate.ejs %>

    <link rel="stylesheet" type="text/css" href="/style/password/style.css">
</head>
<body ng-app="app" ng-controller='passwordCtrl'>

<ng-include src="'../templates/navbarTemplate.html'"></ng-include>

<div>
    <div class="buttons">
        <div class="settings-button" ng-click="openSettings()">
            <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
        </div>
        <div class="refresh-button no-select" ng-click="refresh()">
            <i class="fa fa-refresh fa-2x" aria-hidden="true"></i>
        </div>
    </div>
    <div class="result">
        {{password}}
    </div>
    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <p>
                    The password has a length of {{options.length}} <br>
                    The following character groups where used in the generation of the password.
                </p>
                <ul>
                    <li ng-if="options.uppercase">Uppercase letters</li>
                    <li ng-if="options.lowercase">Lowercase letters</li>
                    <li ng-if="options.number">Numbers</li>
                    <li ng-if="options.special">Special characters</li>
                </ul>
                <p>
                    Open the settings page to change the character groups and length of the password.
                </p>
            </div>
        </div>
    </div>
</div>

</body>
</html>