<!DOCTYPE html>
<html lang="en">
<head>
    <title>404 Not found</title>
    <% include ../../partial/headTemplate.ejs %>

    <link rel="stylesheet" type="text/css" href="/style/404/style.css">
</head>
<body ng-app="app" >

<ng-include src="'../templates/navbarTemplate.html'"></ng-include>

<div>
   <h1 class="center-message">404 Page not found</h1>
    <div class="img-align">
        <img class="mug-icon" src="images/coffee_mug.png"/>
    </div>
    <div class="center-message">
        <p>You might want to grab some coffee and look for the right page.</p>
    </div>
</div>

</body>
</html>