.center-message{
    text-align: center;
    margin-top: 85px;
}

.mug-icon{
    width: 100px;
    margin-top: 50px;
    height: 100px;
}

.img-align{
    width: 10%;
    margin: 0 auto;
}

.l-center-text{
    text-align: center;;
}