.result{
    text-align: center;
    font-size: 50px;
    margin-top: 2em;
}

.coin{
    border: solid #7c7c7c 1px;
    background-color: #d2d2d2;
    width: 100px;
    margin: 0 auto;
    border-radius: 50%;
    height: 100px;
    line-height: 100px;
}

.head > img{
    margin-top: -8px;
}
.tails .fa{
    margin-left: -10px;
}

.settings-button{
    margin-left: 20px;
    border: solid gray 1px;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
    float: left;
}
.settings-button:hover{
    color: #3366BB;
    cursor: pointer;
}

.refresh-button{
    margin-right: 20px;
    border: solid gray 1px;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
    float: right;
}
.buttons{
    display: list-item;
}

.no-select{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}