<!DOCTYPE html>
<html lang="en">
<head>
    <title>Random number</title>
    <% include ../../partial/headTemplate.ejs %>

    <link rel="stylesheet" type="text/css" href="/style/number/style.css">
</head>
<body ng-app="app" ng-controller='numberCtrl'>

<ng-include src="'../templates/navbarTemplate.html'"></ng-include>

    <div>
        <div class="buttons">
            <div class="settings-button" ng-click="openSettings()">
                <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
            </div>
            <div class="refresh-button no-select" ng-click="generateNumber()">
                <i class="fa fa-refresh fa-2x" aria-hidden="true"></i>
            </div>
        </div>

        <div class="result">
            <span>{{number}}</span>
        </div>
        <hr>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <p>
                        The number above has been generated from the minimum of {{min}} and a maximum of {{max}}. These can be set on the settings page and are saved in the local storage.


                    </p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>